*.exe
*.obj
*.o
*.lib
!third_party/fwlib/*
third_party/fwlib/*.a
third_party/mtconnect-agent
third_party/adapter-Version
result.txt
imgui.ini
.vsbuild_cache

# CMake
build/
deploy/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.sln
*.vcxproj
.vs/
